<h1><%= @user.name %></h1>

<% if flash[:message] %>
  <h3><%= flash[:message] %></h3><br />
<% end %>

<ul>
  <li>Mood: <%= @user.mood %></li>
  <li>Happiness <%= @user.happiness %></li>
  <li>Height: <%= @user.height %></li>
  <li>Nausea: <%= @user.nausea %></li>
  <li>Tickets: <%= @user.tickets %></li>
  <% if @user.admin %>
    <li><%= "ADMIN" %></li>
  <% end %>
</ul>

<%= link_to "See attractions", :attractions %>
<%#= link_to "Log Out", :sign_out %>